<div class="index-header" id="topback">
	<div class="header-bg">
		<div class="logozone">

			<!--搜索部分 start-->
			<div class="wrap1200 logo">
				<a href="/home" class="fl"><img src="{$web['logo']}" class="logoImage"></a>
				<div id="mod-search1">
					<div class="searchbox">
						<form action="{:url('home/search/index')}" method="get">
						<div class="searchbox-inner">
							<input type="text" name="keyword" placeholder="找书" class="searchinput">
							<i class="search-icon"></i>
							<input type="submit" value="" class="searchbtn" style="background-color:#333333">
							<span class="loadIcon"></span>
						</div>
						</form>
					</div>
				</div>
			</div>
			<!--搜索部分 end-->
			<!--导航 start-->
		</div>
	</div>
	<div class="firstnav">
		<ul>
			{nav id="vo"}
			<li {eq name="vo['current']" value="1"}class="curr"{/eq}>
				<a href="{$vo['url']}">{$vo['title']}</a>
			</li>
			{/nav}
			{notempty name="author_show"}
			<div class="author">
                <a href="{:url('author/index/index')}" class="go_writing icons"><i></i>作者专区</a>
            </div>
            {/notempty}
		</ul>
	</div>
	<!--导航 end-->
</div>